/* <---------TERCERA-SECCION--------->*/
.tercera-pantalla .container-card{
    justify-content: center;

}
.tercera-pantalla .img-ppal{
    justify-content: end;
}
.tercera-pantalla .container-card{
    left: -180px;   
}
@media (max-width:722px) {
    .tercera-pantalla .container-card{
        left: -120px;
    }
}