@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Roboto:wght@400;700&display=swap');
@import url(blog-seccion.css);
@import url(banner.css);
@import url(about-me.css);
@import url(seccions.css);
@import url(products.css);
@import url(image.css);
@import url(footer.css);

:root {
    --color-rose: #b08ead; 
    --color-rose-oscuro: #5f4d5d;
    --bordes-cuadro:#d6bbd3;
    --gris:#b0b0b0;
}
html,body
{
    /* evita el desborde */
    width: 100%;

    overflow-x: hidden; 
}
*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Cormorant Garamond', serif;
}

/* <---------NAV-BAR--------->*/
.logo{
    display: flex;
    align-items: center;
}
.nav-bar{
    background-color: white;
    padding: 0px 25px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0% 6%;
}
.nav-bar-menu{
    display: flex; 
}
.nav-bar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.nav-bar-link a{
    color: var(--color-rose);
    font-size: 24px;
}

/* Animaciones */
.nav-bar-link::after{
    content: '';
    height: 4px;
    width: 0%;
    background: var(--color-rose);
    transition: 0.4s ease-in-out;
}
.nav-bar-link:hover::after{
    width: 100%;
}
.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}
.carrito:hover{
    opacity: 0.7;
}
 /* Responsive nav-bar */
 .toggle{
     cursor: pointer;
     background: none;
     color: var(--color-rose);
     border: none;
     font-size: 20px;
     display: none;
     line-height: 100px;
     
 }


 @media  (max-width: 768px){
     .nav-bar{
         height: 100px;
     }
    .nav-bar-menu{
        display: none;
        flex-direction: column;   
        justify-content:space-around;
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        background-color: #fff;
        height: calc(100% - 100px);
        z-index: 1000;
        overflow-y: auto;
        align-items: center;
        opacity: 0;

    }
     .activado{
        display: flex;
        animation: mostrarMenu 350ms ease-in-out both;
    }
    
    .toggle{
        display: block;
       
    }
    @keyframes mostrarMenu {
        from{opacity:0}
        to{opacity:1}
    }
    
 } 



